<style>
  .teld-saved-object-finder .row {padding-bottom: 0px;}
  .teld-saved-object-finder paginate-controls{display: none;}
  .teld-saved-object-finder ul{margin-bottom: 0px;}
  .teld-saved-object-finder ul.list-group-menu li{padding: 5px;}
  .teld-saved-object-finder ul.nav a {padding: 5px}
  .teld-saved-object-finder .saved-item { padding-top: 8px; padding-right: 0px; padding-left: 0px; }
  /*.teld-saved-object-finder .saved-item:nth-child(odd) { background-color: #F6F6F6; }
  .teld-saved-object-finder .saved-item:nth-child(even) { background-color: #ffffff; }*/
  .teld-saved-object-finder .saved-item:hover { border-radius: 5px; background-color: #E4E4E4; }
</style>
<div class="teld-saved-object-finder" ng-init="mode = 'public'" >
  <div class="container-fluid">
    <div class="row" style="padding-top: 0px;">
      <div class="input-group form-group finder-form col-md-12">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <!--ng-attr-placeholder="{{finder.properties.nouns | label }} Filter..."-->
        <input
          input-focus
          ng-model="filter"
          ng-attr-placeholder="过滤{{finder.properties.nouns}}..."
          ng-keydown="finder.filterKeyDown($event)"
          class="form-control"
          name="filter"
          type="text"
          autocomplete="off" />
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-pills nav-stacked kbn-timepicker-modes">
            <li ng-class="{active: mode === 'public' }">
              <a ng-click="mode='public'">公共方案</a>
            </li>
            <li ng-show="owner" ng-class="{active: mode === 'private' }">
              <a ng-click="mode='private'">私有方案</a>
            </li>
          </ul>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-left: 0px;">
          <div ng-switch on="mode">
            <paginate ng-switch-when="public" list="finder.hits | filter:public" per-page="1000">
              <div class="container-fluid table-hover">
                <div class="row" style="display: block;">
                  <div class="saved-item col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="hit in page" ng-click="finder.onChoose(hit, $event)">
                    <div class="actions pull-left" style="margin-top: -6px; visibility: hidden;">
                      <button style='background-color:transparent;' aria-label="Delete">
                        <span class="sr-only">Delete</span>
                        <i aria-hidden="true" class="fa fa-trash"></i>
                      </button>
                    </div>
                    <a ng-href="{{finder.makeUrl(hit)}}"
                        ng-blur="finder.hitBlur($event)"
                        ng-click="finder.preventClick($event)">
                        <i aria-hidden="true" class="finder-type fa" ng-if="hit.icon" ng-class="hit.icon"></i>
                        <span>{{hit.title}}</span>
                        <p ng-if="hit.description" ng-bind="hit.description"></p>
                    </a>
                  </div>
                </div>
              </div>
            </paginate>

            <paginate ng-switch-when="private" ng-show="owner" list="finder.hits | filter:private" per-page="1000">
              <div class="container-fluid table-hover">
                <div class="row" style="display: block;">
                  <div class="saved-item col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="hit in page" ng-click="finder.onChoose(hit, $event)">
                    <div class="actions pull-left" style="margin-top: -6px;">
                      <button ng-click="finder.delete(hit, $event)" style='background-color:transparent;' aria-label="Delete">
                        <span class="sr-only">Delete</span>
                        <i aria-hidden="true" class="fa fa-trash"></i>
                      </button>
                    </div>
                    <a ng-href="{{finder.makeUrl(hit)}}"
                        ng-blur="finder.hitBlur($event)"
                        ng-click="finder.preventClick($event)">
                        <i aria-hidden="true" class="finder-type fa" ng-if="hit.icon" ng-class="hit.icon"></i>
                        <span>{{hit.title}}</span>
                        <p ng-if="hit.description" ng-bind="hit.description"></p>
                    </a>
                  </div>
                </div>
              </div>
            </paginate>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>