.teld-aggs-conf{

}

.filter-bar.aggsResultBar {
  // margin-left: 35px ;
  text-align: right;
}


.aggsResultItem {
  background-color: initial !important;
  color: initial !important;
  border-bottom: 1px solid;
}


.discover-timechart visualize-legend
{
 display: none;
}

.teld-aggs-conf .movebtn-sm, .teld-aggs-conf .movebtn-xs{
     display: none;
}

@media (max-width: 767px){
  .teld-aggs-conf .movebtn {
      text-align: center;
  }

  .teld-aggs-conf .movebtn-md,
  .teld-aggs-conf .movebtn-gl{
     display: none;
  }

  .teld-aggs-conf .movebtn-sm,
  .teld-aggs-conf .movebtn-xs{
     text-align: center;
     display: block !important;
  }

  .teld-aggs-conf .confList{
    margin-bottom: 15px;
    border-bottom-color: orange;
    border-bottom-style: dashed;
  }

  .filter-bar.aggsResultBar {
    margin-left: 0px;
  }
}
