<div>
  <style>
    .advancedSearch button[data-bool='must'] { cursor: default; background-color: cornflowerblue; }
    .advancedSearch button[data-bool='should'] { cursor: default; background-color: yellowgreen; }
    .advancedSearch button[data-bool='must_not'] { cursor: default; background-color: rosybrown; }

    table.advancedSearch {
      margin: 0px;
    }

    table.advancedSearch tbody[data-bool='must'] {
      border-left: cornflowerblue solid;
    }

    table.advancedSearch tbody[data-bool='should'] {
      border-left: yellowgreen solid;
    }

    table.advancedSearch tbody[data-bool='must_not'] {
      border-left: rosybrown solid;
    }
  </style>
  <div class="localDropdownTitle">高级搜索</div>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <!--<button ng-class="showBool222()">nn</button>-->
      <!--{{advancedSearch.must}}-->
      <teld-advanced-search index-pattern='indexPattern' bool-source="advancedSearch"></teld-advanced-search>
      <!--<discover-condition index-pattern='indexPattern' bool-source="bool"></discover-condition>-->

      <!--<tree-model
            tree-id="tree01"              
            bool-source="roleList1"
            node-id="roleId"
            node-label="roleName"
            node-children="children" >
            </tree-model>-->
    </div>
  </div>
</div>