<div>
  <div class="localDropdownTitle">高级搜索</div>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <!--<button ng-class="showBool222()">nn</button>-->
      <!--{{advancedSearch.must}}-->
      <teld-advanced-search index-pattern='indexPattern' bool-source="advancedSearch"></teld-advanced-search>
      <!--<discover-condition index-pattern='indexPattern' bool-source="bool"></discover-condition>-->

      <!--<tree-model
            tree-id="tree01"              
            bool-source="roleList1"
            node-id="roleId"
            node-label="roleName"
            node-children="children" >
            </tree-model>-->
    </div>
  </div>
</div>