<span class="advancedSearchDisplay">
  <span class="" ng-repeat="(key,conditions) in boolSource">
    <span ng-show="key!=='must'">并且{</span>
    <span ng-repeat="condition in conditions" class="filter-bar" style="background-color: transparent;">
      <span ng-show='!condition.bool'>
        <span class="filter">
          <span class="filter-description">
            <span>{{condition.selected.field.asFieldName}} {{condition.selected.operator.display}} {{condition.selected.value}}</span>
          </span>
        </span>
        <span ng-show="!$last" ng-switch="key">
          <span ng-switch-when='should'>或着</span>
          <span ng-switch-default>并且</span>
        </span>
      </span>
      <span ng-show='condition.bool'> 
        (<teld-advanced-search-display index-pattern='indexPattern' bool-source="condition.bool"></teld-advanced-search-display>)
      </span>      
    </span>
    <span ng-show="key!=='must'">}</span>
  </span>
</span>