<span class="advancedSearchDisplay">
  <span class="" ng-repeat="(key,conditions) in boolSource">
    <span ng-show="key!=='must'"><button class="btn btn-success btn-xs">AND</button> (</span>
    <span ng-repeat="condition in conditions" style="background-color: transparent;">
      <span ng-show='!condition.bool'>
        <span class="filter" ng-class="{'disabled':condition.selected.disabled}">
          <span class="filter-description">
            <span ng-click="disableChange()">{{condition.selected.field.asFieldName}} {{condition.selected.operator.display}} {{condition.selected.value}} <span ng-show="key==='must_not'">不成立</span></span>
          </span>
        </span>
        <span ng-show="!$last" ng-switch="key">
          <span ng-switch-when='should'><button class="btn btn-warning btn-xs">OR</button></span>
          <span ng-switch-default><button class="btn btn-success btn-xs">AND</button></span>
        </span>
      </span>
      <span ng-show='condition.bool'> 
        (<teld-advanced-search-display index-pattern='indexPattern' bool-source="condition.bool"></teld-advanced-search-display>)
      </span>      
    </span>
    <span ng-show="key!=='must'">)</span>
  </span>
</span>