<div class="advancedSearch button">
  <div class="filter-bar" ng-show="expressionView">
    <div class="btn-group" role="group">
      <button type="button" ng-click="expressionView=!expressionView" class="btn btn-xs glyphicon glyphicon-eye-close"></button>
    </div>
    <teld-advanced-search-display index-pattern='indexPattern' bool-source="boolSource"></teld-advanced-search-display>
  </div>
  <div ng-hide="expressionView">   
    <div class="btn-group" role="group">
      <button type="button" ng-click="expressionView=!expressionView" class="btn btn-xs glyphicon glyphicon-eye-open"></button>
    </div> 
    <div class="btn-group" role="group" ng-hide="boolSourceType">
      <!--<button onclick='this.blur();' data-bool='must' class="btn btn-xs glyphicon">与</button>
      <button type="button" ng-click="addMust()" class="btn btn-primary btn-xs glyphicon glyphicon-plus">条件</button>-->
      <!--<button type="button" ng-click="addMustGroup()" class="btn btn-primary btn-xs glyphicon glyphicon-tasks">分组</button>-->
      <button type="button" ng-click="addMust()" data-bool='must' class="btn btn-primary btn-xs glyphicon glyphicon-plus">　与</button>      
    </div>  
    <div class="btn-group btn-group-xs" role="group">
      <!--<button onclick='this.blur();' data-bool='should' class="btn btn-xs glyphicon">或</button>
      <button ng-show="boolSourceType" type="button" ng-click="addShould()" class="btn btn-primary btn-xs glyphicon glyphicon-plus">条件</button>-->
      <!--<button type="button" ng-click="addShouldGroup()" class="btn btn-primary btn-xs glyphicon glyphicon-tasks">分组</button>-->
      <button ng-show="boolSourceType" type="button" data-bool='should' ng-click="addShould()" class="btn btn-primary btn-xs glyphicon glyphicon-plus">　或</button>
      <button ng-hide="boolSourceType" type="button" data-bool='should' ng-click="addMustGroupShould()" class="btn btn-primary btn-xs glyphicon glyphicon-tasks">　或</button>
    </div>
    <div class="btn-group" role="group" ng-hide="boolSourceType">
      <!--<button onclick='this.blur();' data-bool='must_not' class="btn btn-xs glyphicon">非</button>
      <button type="button" ng-click="addMustNot()" class="btn btn-primary btn-xs glyphicon glyphicon-plus">条件</button>-->
      <!--<button type="button" ng-click="addMustNotGroup()" class="btn btn-primary btn-xs glyphicon glyphicon-tasks">分组</button>-->
      <button type="button" ng-click="addMustNot()" data-bool='must_not' class="btn btn-primary btn-xs glyphicon glyphicon-plus">　非</button>      
    </div>
    <div class="btn-group" role="group" ng-show="boolSourceParent">
      <button type="button" ng-click="removeGroup()" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
    </div>  
    <table class="table table-condensed advancedSearch" style="background-color: rgb(246,246,246);" ng-repeat="(key,conditions) in boolSource">
      <tbody data-bool='{{key}}' ng-repeat="condition in conditions">
        <tr ng-if='!condition.bool'>
          <!--条件-->
          <td colspan="1" style="width: 98px; vertical-align: inherit;">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-trash" ng-click='remove()'></button>
              <button type="button" ng-disabled="!condition.selected || !condition.selected.value" ng-click="copyCondition()" class="btn btn-success btn-xs glyphicon glyphicon-copy"></button>

              <button ng-click='disableChange();' ng-show="condition.selected.disabled" type="button" class="btn btn-info btn-xs glyphicon glyphicon-ok-circle"></button>              
              <button ng-click='disableChange();' ng-show="!condition.selected.disabled" type="button" class="btn btn-info btn-xs glyphicon glyphicon-ban-circle"></button>
            </div>
          </td>
          <td colspan="3" ng-init="initSelectField()" ng-switch="condition.selected.disabled">
            <div class="row" ng-switch-when='true'>
              <div class="col-xs-12" style="text-decoration:line-through">
                <div class="filter-bar" style="background-color: transparent;">
                  <div class="filter disabled">
                    <div style="color: black; font-weight: bolder;">
                      <span>{{condition.selected.field.asFieldName}}</span>
                      <span>{{condition.selected.operator.display}}</span>
                      <span ng-switch="condition.selected.field.type">
                        <span ng-switch-when='date'>{{condition.selected.value | date:'yyyy-MM-dd'}}</span>
                        <span ng-switch-when='string'>'{{condition.selected.value}}'</span>
                        <span ng-switch-default>{{condition.selected.value}}</span>
                      </span>
                      <span ng-show="key==='must_not'" style="color: red">不成立</span>
                    </div>
                  </div>
                </div>             
              </div>
            </div>
            <div class="row" ng-switch-default>
              <div class="col-xs-4">
                <select class="form-control" ng-disabled="condition.selected.disabled" ng-change='fieldChange()' ng-model="condition.selected.field" ng-options="field.alias||field.asFieldName for field in fieldSource">
                  <!--<option></option>-->
                </select>
              </div>
              <div class="col-xs-2">
                <!--<select class="form-control" ng-disabled="condition.selected.disabled" ng-model="condition.selected.operator" required ng-options="operator.display for operator in condition.selected.field.typeOperators">-->
                <select class="form-control" ng-disabled="condition.selected.disabled"  ng-model="condition.selected.operator" ng-options="operator.display for operator in filterOperator()">
                  <!--<option></option>-->
                </select>
              </div>
              <div class="col-xs-4" ng-switch="condition.selected.field.type">
                <div ng-switch-when='number'>
                  <input ng-disabled="condition.selected.disabled" type="number" class="form-control" ng-model="condition.selected.value"/>
                </div>              
                <div ng-switch-when='boolean' ng-init='condition.selected.value=true' class="btn-group btn-group-justified" role="group">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn ng-class:{'btn-success':condition.selected.value,'btn-default':!condition.selected.value}" ng-click="condition.selected.value=true">是</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn  ng-class:{'btn-success':!condition.selected.value,'btn-default':condition.selected.value}" ng-click="condition.selected.value=false">否</button>
                  </div>
                </div>
                <div class="kbn-timepicker" ng-switch-when='date'>
                  <input type="text" step="border-color:black;" class="form-control" ng-change="dateToTime()" ng-click="opened=true" datepicker-popup ng-model="condition.selected.value" is-open="opened" clear-text='清除' close-text="关闭" current-text='今天' />
                </div>
                <div ng-switch-default>
                  <input ng-if="!condition.selected.field.selectable" ng-disabled="condition.selected.disabled" type="text" class="form-control" ng-model="condition.selected.value"/>
                  <teld-value-selector ng-if="condition.selected.field.selectable"  field='condition.selected.field' selected='condition.selected.value'></teld-value-selector>
                </div>                
              </div>              
            </div>   
          </td>
        </tr>      
        <tr ng-if='condition.bool'>
          <!--分组-->
          <td colspan="4" data-bool="bool">
            <teld-advanced-search index-pattern='indexPattern' bool-source-type='boolSource[key]' bool-source-parent='condition' bool-source="condition.bool"></teld-advanced-search>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>