<div class="teld-modal">
  <div class="modal-header">
    <button type="button" ng-click="cancel()" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button> 
    <h6 class="modal-title">帮助</h6>
  </div> 
  <div class="modal-body" id="modal-body">
    <!--当前值:{{selected.item[field.selectConf.valueKey||"code"]}}-->
    <input type="text" class="form-control" placeholder="过滤" ng-model="filterString">
    <tree-grid 
        tree-data     = "tree_data"
        expand-on     = "expanding_property"
        col-defs      = "col_defs"
        tree-control  = "treeControl"
        on-select     = "selectHandler(branch)"
        template-url  = "/tmpl/treegrid_template.html"
        icon-leaf     = "glyphicon glyphicon-leaf"
        >
    </tree-grid>
  </div>
  <div class="modal-footer">
    <button ng-hide="true" class="btn btn-default" type="button" ng-click="clear()">清除</button>
    <button class="btn btn-primary teld-bgcolor" type="button" ng-disabled="!selected.item" ng-click="ok()">确定</button>
  </div>
</div>