
  .displayCount{
    display: -webkit-flex;
    display:flex;
    flex: 0 0 auto;
  }


  .advancedSearch button[data-bool='must'] { cursor: default; background-color: cornflowerblue; }
  .advancedSearch button[data-bool='should'] { cursor: default; background-color: yellowgreen; }
  .advancedSearch button[data-bool='must_not'] { cursor: default; background-color: red; }

  .advancedSearch .filter-bar{padding: 0px;}

  .embedGrafana .localNav * {font-size: 12px}
  .embedGrafana .advancedSearch .filter-bar{font-size: 12px}

  .embedGrafana .localMenu {margin-right: 10px;}

  .embedGrafana .vis-editor-content .vis-editor-content,
  .embedGrafana .vis-editor-content .sidebar-collapser{
    display: none !important;
  }

  table.advancedSearch {
    margin: 0px;
  }

  table.advancedSearch tbody[data-bool='must'] {
    border-left: cornflowerblue solid;
  }

  table.advancedSearch tbody[data-bool='should'] {
    border-left: yellowgreen solid;
  }

  table.advancedSearch tbody[data-bool='must_not'] {
    border-left: red solid;
  }

  /*.advancedSearchDisplay [data-and='and']:first-child{
    display: none;
  }*/

  /*[data-and='and0']{
    display: none;
  }*/

.advancedSearchDisplay button[data-bool='must'] { cursor: default; background-color: cornflowerblue; }
.advancedSearchDisplay button[data-bool='should'] { cursor: default; background-color: yellowgreen; }
.advancedSearchDisplay button[data-bool='must_not'] { cursor: default; background-color: red; }

.advancedSearchDisplay .filter.disabled .filter-description{
  color: black; font-weight: bolder;
}

.teld-modal .modal-header{
  background-color: #f5f5f5;
  padding: 10px 15px 10px 20px;
}

.teld-modal .modal-body{
  padding-bottom: 0px;
}

.teld-modal .modal-footer{
  padding-top: 12px;
  padding-bottom: 14px;
  border-top: 0;
  background-color: #f5f5f5;
}
