  .advancedSearch button[data-bool='must'] { cursor: default; background-color: cornflowerblue; }
  .advancedSearch button[data-bool='should'] { cursor: default; background-color: yellowgreen; }
  .advancedSearch button[data-bool='must_not'] { cursor: default; background-color: rosybrown; }

  .advancedSearch .filter-bar{padding: 0px;}

  table.advancedSearch {
    margin: 0px;
  }

  table.advancedSearch tbody[data-bool='must'] {
    border-left: cornflowerblue solid;
  }

  table.advancedSearch tbody[data-bool='should'] {
    border-left: yellowgreen solid;
  }

  table.advancedSearch tbody[data-bool='must_not'] {
    border-left: rosybrown solid;
  }

  /*.advancedSearchDisplay [data-and='and']:first-child{
    display: none;
  }*/

  /*[data-and='and0']{
    display: none;
  }*/

.advancedSearchDisplay button[data-bool='must'] { cursor: default; background-color: cornflowerblue; }
.advancedSearchDisplay button[data-bool='should'] { cursor: default; background-color: yellowgreen; }
.advancedSearchDisplay button[data-bool='must_not'] { cursor: default; background-color: rosybrown; }

.advancedSearchDisplay .filter.disabled .filter-description{
  color: black; font-weight: bolder;
}